---
layout: base
mathjax: true
jquery: true
---

{% for post in site.posts %}

<div class="preview">
    <span  class="date">{{ post.date|date:"%Y/%m/%d" }}</span>

    <article>
        <header>
        <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>

            <!--
            <span class="tags">
                {% for tag in post.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}
            </span>
            -->

            <!--
            {% if post.thumbnail %}
            <div class="image"><img src="{{ site.url }}{{ post.thumbnail }}" /></div>
            {% endif %}
            -->
        </a>
        </header>

        {% if forloop.index < 5 %}
        {{ post.content }}
        [ <a href="{{ post.url }}#comments">Comment</a> ]
        {% else %}
        {{ post.excerpt }}
        [ <a href="{{ post.url }}">
        Read More
        </a> ]
        {% endif %}
    </article>
</div>

{% endfor %}
