<script type="text/javascript">

var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var time_prev = Date.now();
var max_dt = 1/120;
var mouse_x_prev, mouse_y_prev;
var data = {};

function resize() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    draw();
}

function mouse_move(event) {
    var mouse_x = event.x;
    var mouse_y = event.y;
    var mouse_dx = mouse_x - mouse_x_prev;
    var mouse_dy = mouse_y - mouse_y_prev;
    mouse_x_prev = mouse_x;
    mouse_y_prev = mouse_y;

    for (var i = 1; i < data.size - 1; i++) {
        var x = canvas.width * i / data.size;
        var y = data.height[i] + canvas.height * 0.5;
        var dx = mouse_x - x;
        var dy = mouse_y - y;
        var distance_sq = dx * dx + dy * dy;
        var max_distance = 100;
        if (distance_sq < max_distance * max_distance) {
            data.velocity[i] += 1000 * mouse_dy / (Math.sqrt(distance_sq) * data.size);
        }
    }
}

function initialize() {

    // Initialize simulation data
    data.size = 128;
    data.height = [];
    data.velocity = [];
    var frequency_0 = 10 + Math.random() * 40;
    var frequency_1 = 10 + Math.random() * 40;
    for (var i = 0; i < data.size; i++) {
        data.height[i] = 0;//2 * Math.sin(i * frequency_0 / data.size) + 1 * Math.cos(i * frequency_1 / data.size);
        data.velocity[i] = 0;
    }

    // Fit the canvas to the window
    window.addEventListener('resize', resize, false);
    resize();

    // Handle mouse click event
    window.addEventListener('mousemove', mouse_move, false);

    // Start the update loop
    update();
}

function update() {

    var time_now = Date.now();
    var dt = max_dt;//Math.min((time_now - time_prev) / 1000, max_dt);
    time_prev = time_now;


    //
    // Update simulation
    //

    // Update velocities
    for (var i = 1; i < data.size-1; i++) {

        // Calculate spring force towards average position of neighboring points
        var target = (data.height[i-1] + data.height[i+1]) * 0.5;
        var mass = 1;
        var k = 2000;
        var diff = target - data.height[i];
        var spring_force = k * diff;

        // Apply some damping
        var damping = 0.5;
        var damping_force = -data.velocity[i] * damping;

        // Accelerate
        var acceleration = spring_force + damping_force;
        data.velocity[i] += acceleration * dt;
    }

    // Update positions
    for (var i = 1; i < data.size - 1; i++) {
        data.height[i] += data.velocity[i] * dt;
    }

    // Draw stuff
    draw();

    // Call this function again in 1/60th of a second
    window.setTimeout(update, 60 / 1000)
}

function draw() {

    // Clear the screen
    context.fillStyle="#FCFAF7";
    context.fillStyle="#00ADDF";
    context.fillRect(0, 0, canvas.width, canvas.height);

    // Render the data
    context.fillStyle="#009DCF";
    context.strokeStyle="#FCFAF7";
    context.lineWidth=2;
    context.beginPath();
    moveTo(0, data.height[0] + canvas.height / 2);
    for (var i = 0; i < data.size; i++) {
        context.lineTo(canvas.width * i / (data.size - 1), data.height[i] + canvas.height * 0.5);
    }
    context.lineTo(canvas.width, canvas.height);
    context.lineTo(0, canvas.height);
    context.fill();
    //context.stroke();

    /*
    // Draw the mouse position
    context.beginPath();
    context.fillStyle="#FFFFFF";
    context.strokeStyle="#FFFFFF";
    context.arc(mouse_x_prev, mouse_y_prev, 10, 0, 2*Math.PI);
    context.stroke();
    */
}

// Start the canvas drawing
initialize();

</script>