.highlight code.language-python .hll { background-color: #ffffcc }
/*.highlight code.language-python  { background: #f8f8f8; }*/
.highlight code.language-python .c { color: #408080; font-style: italic } /* Comment */
.highlight code.language-python .err { border: 1px solid #FF0000 } /* Error */
.highlight code.language-python .k { color: #008000; font-weight: bold } /* Keyword */
.highlight code.language-python .o { color: #666666 } /* Operator */
.highlight code.language-python .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight code.language-python .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight code.language-python .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight code.language-python .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight code.language-python .gd { color: #A00000 } /* Generic.Deleted */
.highlight code.language-python .ge { font-style: italic } /* Generic.Emph */
.highlight code.language-python .gr { color: #FF0000 } /* Generic.Error */
.highlight code.language-python .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight code.language-python .gi { color: #00A000 } /* Generic.Inserted */
.highlight code.language-python .go { color: #808080 } /* Generic.Output */
.highlight code.language-python .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight code.language-python .gs { font-weight: bold } /* Generic.Strong */
.highlight code.language-python .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight code.language-python .gt { color: #0040D0 } /* Generic.Traceback */
.highlight code.language-python .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight code.language-python .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight code.language-python .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight code.language-python .kp { color: #008000 } /* Keyword.Pseudo */
.highlight code.language-python .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight code.language-python .kt { color: #B00040 } /* Keyword.Type */
.highlight code.language-python .m { color: #666666 } /* Literal.Number */
.highlight code.language-python .s { color: #BA2121 } /* Literal.String */
.highlight code.language-python .na { color: #7D9029 } /* Name.Attribute */
.highlight code.language-python .nb { color: #008000 } /* Name.Builtin */
.highlight code.language-python .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight code.language-python .no { color: #880000 } /* Name.Constant */
.highlight code.language-python .nd { color: #AA22FF } /* Name.Decorator */
.highlight code.language-python .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight code.language-python .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight code.language-python .nf { color: #0000FF } /* Name.Function */
.highlight code.language-python .nl { color: #A0A000 } /* Name.Label */
.highlight code.language-python .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight code.language-python .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight code.language-python .nv { color: #19177C } /* Name.Variable */
.highlight code.language-python .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight code.language-python .w { color: #bbbbbb } /* Text.Whitespace */
.highlight code.language-python .mf { color: #666666 } /* Literal.Number.Float */
.highlight code.language-python .mh { color: #666666 } /* Literal.Number.Hex */
.highlight code.language-python .mi { color: #666666 } /* Literal.Number.Integer */
.highlight code.language-python .mo { color: #666666 } /* Literal.Number.Oct */
.highlight code.language-python .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight code.language-python .sc { color: #BA2121 } /* Literal.String.Char */
.highlight code.language-python .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight code.language-python .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight code.language-python .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight code.language-python .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight code.language-python .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight code.language-python .sx { color: #008000 } /* Literal.String.Other */
.highlight code.language-python .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight code.language-python .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight code.language-python .ss { color: #19177C } /* Literal.String.Symbol */
.highlight code.language-python .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight code.language-python .vc { color: #19177C } /* Name.Variable.Class */
.highlight code.language-python .vg { color: #19177C } /* Name.Variable.Global */
.highlight code.language-python .vi { color: #19177C } /* Name.Variable.Instance */
.highlight code.language-python .il { color: #666666 } /* Literal.Number.Integer.Long */
