---
---

html {
    min-height: 100%;
    font-family: 'Lora', serif;
    font-size: 12pt;
};

body {
    max-width: 400px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 5px;
    border: none;
}

code {
    font-family: 'Ubuntu Mono', ;
}

a {
    text-decoration: none;
    color: #00C5E3;

    &:hover {
        text-decoration: underline;
    }
}

div#header h1 {
    margin-top: 0;
}