---
---

html {
    height: 100%;
    min-height: 100%;
    font-family: 'Lora', serif;
    font-size: 11pt;
    color: #291700;
};

body {
    height: 100%;
    min-height: 100%;
    text-align: center;
    background: url(/assets/gen0-0.png) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

main {
    text-align: left;
    max-width: 460px;
    width: 100%;
    min-height: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 5px;
    display: inline-block;
    background-color: #FCFAF7;
    z-index: 1;
}

nav {
    vertical-align: top;
    text-align: right;
    display: inline-block;

    ul { margin-top: 10px; }
}

footer {
    vertical-align: bottom;
    text-align: left;
    display: inline-block;
}

article {
    img {
        max-width: 100%;
    }
}

figure {
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

code {
    font-family: 'Ubuntu Mono';
}

a {
    text-decoration: none;
    color: #00addf;

    &:hover {
        text-decoration: underline;
    }
}

nav a {
    color: #D9D5D0;
}

ul {
    padding-left: 0;
    list-style: none;
}

div#header {
    border-bottom: 1px dashed #D9D5D0;
    margin-bottom: 5px;
    h1 { margin: 0; }
}

div#disqus_thread {
    margin-top: 150px;
}

main>#content>h2 {
    border-bottom: 1px dashed #00addf;
    margin-bottom: 0;
}

span.tags {
    color: #D9D5D0;
}

div.preview {
    position: relative;
    margin-bottom: 10px;

    span.date {
        position: absolute;
        right: 470px;
        background-color: #FCFAF7;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 2px;
        display: none;
    }

    &:hover {
        span.date { display: inline; }
    }
}