<!DOCTYPE HTML>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    {% comment %}
    <link rel="stylesheet" href="/assets/reset.css">
    {% endcomment %}
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/pygments.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

    <div id="header">
        <a href="/"><h1>StettJ</h1></a>
    </div>

    <div id="content">
        {{ content }}
    </div>
</body>
</html>