<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/pygments.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

    {% comment %}
    <nav>
        <ul>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">projects</a></li>
        </ul>
    </nav>
    {% endcomment %}

    <main>
        <div id="header">
            <a href="/"><h1>StettJ</h1></a>
        </div>
        <div id="content">
            {{ content }}
        </div>
    </main>

    {% comment %}
    <footer>
        <ul>
            <li><a href="">contact</a>
        </ul>
    </footer>
    {% endcomment %}
</body>
</html>